<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Hello World</title>
<!-- pro IE -->
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<!-- zařídí, že responsive -->
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<th:block th:include="layout/page :: header"></th:block>

<script type="text/javascript">
	$(document)
			.ready(
					function() {
						$('#items')
								.DataTable(
										{
											"language" : {
												"url" : "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Czech.json"
											}
										});
					});
</script>
</head>
<body>

	<th:block th:include="layout/page :: nav"></th:block>
	<div class="container" style="padding-top: 80px">
		<div th:if="${success}" class="alert alert-success">Success!!</div>
		<form class="form-horizontal validator col-lg-4"
			th:action="@{/items/add}" th:object="${item}" method="post">

			<!-- hidden input for id -->
			<input type="hidden" class="form-control" th:field="*{id}" />

			<!-- category select box  -->
			<div class="form-group">
				<label for="item.category" class="col-sm-3 control-label">Kategorie</label>
				<div class="col-sm-9">
					<select id="item.category" class="form-control" name="category">
						<option th:each="category : ${categories}"
							th:value="${category.id}" th:text="${category.name}"
							th:selected="${type == categories.get(0)}"></option>
					</select> <span class="has-error" th:if="${#fields.hasErrors('type')}"
						th:errors="type">chyba</span>
				</div>
			</div>

			<!-- enum type selecbox -->
			<div class="form-group">
				<label for="item.type" class="col-sm-3 control-label">Typ</label>
				<div class="col-sm-9">
					<select id="item.type" class="form-control" name="type">
						<option
							th:each="type : ${T(eu.petrvich.hie.entity.ItemType).values()}"
							th:value="${type}" th:text="${type.value}"
							th:selected="${type == T(eu.petrvich.hie.entity.ItemType).INCOME}"></option>
					</select> <span class="has-error" th:if="${#fields.hasErrors('type')}"
						th:errors="type">chyba</span>
				</div>
			</div>

			<!-- item popis -->
			<div class="form-group">
				<label for="item.description" class="col-sm-3 control-label">Popis</label>
				<div class="col-sm-9">
					<textarea id="item.description" class="form-control"
						th:field="*{description}">...</textarea>
				</div>
			</div>

			<!-- item počet -->
			<div class="form-group">
				<label for="item.count" class="col-sm-3 control-label">Počet</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" id="item.count"
						th:field="*{count}" placeholder="Počet" /> <span
						class="has-error" th:if="${#fields.hasErrors('count')}"
						th:errors="*{count}">chyba</span>
				</div>
			</div>

			<!-- item cena -->
			<div class="form-group">
				<label for="item.price" class="col-sm-3 control-label">Cena</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" id="item.price"
						th:field="*{price}" placeholder="Cena" /> <span class="has-error"
						th:if="${#fields.hasErrors('price')}" th:errors="*{price}">chyba</span>
				</div>
			</div>

			<!-- item datum -->
			<div class="form-group">
				<label for="item.date" class="col-sm-3 control-label">Datum</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" id="date"
						readonly="readonly" th:field="*{date}" placeholder="Datum" /> <span
						th:if="${#fields.hasErrors('date')}" th:errors="*{date}">chyba</span>
				</div>
			</div>

			<!-- submit button -->
			<div class="form-group">
				<div class="col-sm-offset-5 col-sm-10">
					<input type="submit" class="btn btn-primary col-lg-6"
						value="Odeslat" />
				</div>
			</div>

		</form>
		<div class="col-lg-7">
			<table id="items">
				<thead>
					<tr>
						<th>Datum</th>
						<th>Kategorie</th>
						<th>Počet</th>
						<th>Cena</th>
						<th>Typ</th>
						<th>Akce</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="item : ${lastItems}">
						<td th:text="${#dates.format(item.date, 'dd. MM. yyyy')}">datum</td>
						<td th:text="${item.category.name}">kategorie</td>
						<td th:text="${item.count}">počet</td>
						<td th:text="${item.price}">cena</td>
						<td th:text="${item.type.value}">typ</td>
						<td><a class="btn btn-danger" onclick="deleteItem(this);"
							th:id="${item.id}"> <i class="fa fa-trash-o red"></i>
						</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<script type="text/javascript">
			$(document).ready(

					function() {

						$.datepicker.regional['cs'] = {
							closeText : 'Cerrar',
							prevText : 'Předchozí',
							nextText : 'Další',
							currentText : 'Hoy',
							monthNames : [ 'Leden', 'Únor', 'Březen', 'Duben',
									'Květen', 'Červen', 'Červenec', 'Srpen',
									'Září', 'Říjen', 'Listopad', 'Prosinec' ],
							monthNamesShort : [ 'Le', 'Ún', 'Bř', 'Du', 'Kv',
									'Čn', 'Čc', 'Sr', 'Zá', 'Ří', 'Li', 'Pr' ],
							dayNames : [ 'Neděle', 'Pondělí', 'Úterý',
									'Středa', 'Čtvrtek', 'Pátek', 'Sobota' ],
							dayNamesShort : [ 'Ne', 'Po', 'Út', 'St', 'Čt',
									'Pá', 'So', ],
							dayNamesMin : [ 'Ne', 'Po', 'Út', 'St', 'Čt', 'Pá',
									'So' ],
							weekHeader : 'Sm',
							dateFormat : 'dd.mm.yy',
							firstDay : 1,
							isRTL : false,
							showMonthAfterYear : false,
							yearSuffix : ''
						};

						$.datepicker.setDefaults($.datepicker.regional['cs']);

						$("#date").datepicker({
							dateFormat : "dd. mm. yy"
						});

						$(".validator").validate(
								{
									rules : {
										price : {
											required : true,
											min : 1
										},
										count : {
											required : true,
											min : 1
										}
									},
									messages : {
										price : "Cena musí být kladné číslo",
										count : "Počet musí být kladné číslo"
									},
									highlight : function(element) {
										$(element).closest('.form-group')
												.removeClass('has-success')
												.addClass('has-error');
									},
									unhighlight : function(element) {
										$(element).closest('.form-group')
												.removeClass('has-error')
												.addClass('has-success');
									}
								});

					});

			function deleteItem(obj) {
				BootstrapDialog.confirm('Opravdu chceš položku smazat?', function(
						result) {
					if (result) {
						var itemId = $(obj).attr("id");
						console.log("itemId = " + itemId);
						$.post(
								"/items/delete",
								{
									"id" : itemId
								},
								function(data) {
// 									table.row($(obj).parent().parent())
// 											.remove().draw();
									location.reload(true);
									$.bootstrapGrowl("Položka byla smazaná!!", {
										type : 'success'
									})

								}).fail(function() {
							$.bootstrapGrowl("Položku se nepodařilo smazat!!", {
								type : 'danger'
							})
						});
					} 
				});
			}
		</script>


	</div>
</body>
</html>