<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<!-- pro IE -->
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<!-- zařídí, že responsive -->
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>E-shop</title>

<th:block th:include="layout/page :: header"></th:block>

<script type="text/javascript">
	$(document)
			.ready(
					function() {
						$('.items')
								.DataTable(
										{
											"language" : {
												"url" : "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Czech.json"
											}
										});
					});
</script>

</head>
<body>

	<th:block th:include="layout/page :: nav"></th:block>

	<div class="container" style="padding-top: 80px">
		<!-- 		<div th:if="${success}" class="alert alert-success">Success!!</div> -->
		<!-- 		<th:block th:include="layout/items :: table"></th:block> -->
		<div>
			<div class="col-lg-12 panel panel-info">
				<div class="panel-heading">Celkový přehled</div>
				<div class="panel-body">
					<table class="items col-lg-12">
						<thead>
							<tr>
								<th>rok</th>
								<th>příjmy</th>
								<th>výdaje</th>
								<th>celkem</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="year : ${yearSummary.years}">
								<td th:text="${year.year}">year</td>
								<td th:text="${year.income}">income</td>
								<td th:text="${year.outbound}">outbound sum</td>
								<td th:text="${year.total}">total</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td th:text="${yearSummary.total.year}">year</td>
								<td th:text="${yearSummary.total.income}">income</td>
								<td th:text="${yearSummary.total.outbound}">outbound sum</td>
								<td th:text="${yearSummary.total.total}">total</td>
							</tr>
						</tfoot>
					</table>

				</div>
			</div>
		</div>
	</div>
</body>
</html>