<th:block xmlns:th="http://www.thymeleaf.org">

	<th:block th:fragment="table">

		<script type="text/javascript">
			var table;
			$(document).ready(function() {
				table = $('#items').DataTable();
			});
		</script>

		<table id="items" class="display">
			<thead>
				<tr>
					<th>Category</th>
					<th>Type</th>
					<th>Price</th>
					<th>Count</th>
				</tr>
			</thead>
			<tbody>

				<tr th:each="category : ${categories}">
					<td th:text="${category.name}"></td>
					<th:block th:each="item : ${category.items}">
						<td th:text="${item.type}"></td>
						<td th:text="${item.price}"></td>
						<td th:text="${item.count}"></td>
					</th:block>
				</tr>
			</tbody>
		</table>



	</th:block>

</th:block>