<th:block xmlns:th="http://www.thymeleaf.org">

	<th:block th:fragment="detail">
		<h1 th:text="${item.name}"></h1>
		<div th:text="${item.description}"></div>
		<div th:text="${item.price}"></div>

		<table id="items" class="display">
			<thead>
				<tr>
					<th>Quantity</th>
					<th>City</th>
					<th>Name</th>
					<th>Order date</th>
					<th>Street</th>
					<th>Zip</th>
				</tr>
			</thead>
			<tbody>

				<tr th:each="orderedItem : ${item.orderedItems}">
					<td th:text="${orderedItem.quantity}">2.41</td>
					<th:block th:each="userOrder : ${orderedItem.userOrder}">
						<td th:text="${userOrder.city}"></td>
						<td th:text="${userOrder.name}"></td>
						<td th:text="${userOrder.orderDate}"></td>
						<td th:text="${userOrder.street}"></td>
						<td th:text="${userOrder.zip}"></td>
					</th:block>
				</tr>
			</tbody>
		</table>
	</th:block>

</th:block>