<th:block xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.springframeworks.org/security/tags">

	<th:block th:fragment="header">
		<link href="/css/jquery.dataTables.css" rel="stylesheet" />
		<link href="/css/bootstrap.min.css" rel="stylesheet" />
		<link href="/css/bootstrap-dialog.min.css" rel="stylesheet" />
		<link rel="stylesheet"	href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
		


		<script type="text/javascript" src="/js/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="/js/jquery.validate.min.js"></script>
		<script type="text/javascript" src="/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/js/jquery.dataTables.min.js"></script>
		<script type="text/javascript" src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
		
		<script type="text/javascript" src="/js/bootstrap-dialog.min.js"></script>
		<script type="text/javascript" src="/js/jquery.bootstrap-growl.min.js"></script>
		<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>


	</th:block>

	<th:block th:fragment="nav">
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#navbar" aria-expanded="false"
						aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">E-shop</a>
				</div>
				<div id="navbar" class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li class="active"><a href="/">Celkový přehled</a></li>
						<li class=""><a href="/items/add">Přidat položku</a></li>
						<li class=""><a href="/categories">Kategorie</a></li>
						<li sec:authorize="isAuthenticated()" class=""><a
							href="/logout">Logout <span sec:authentication="name">user</span></a></li>
						<li sec:authorize="!isAuthenticated()" class=""><a
							href="/login">Login</a></li>
					</ul>
				</div>
				<!--/.nav-collapse -->
			</div>
		</nav>
	</th:block>

</th:block>