<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Hello World</title>
<!-- pro IE -->
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<!-- zařídí, že responsive -->
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<th:block th:include="layout/page :: header"></th:block>

<script type="text/javascript">
	$(document)
			.ready(
					function() {
						$('#items')
								.DataTable(
										{
											"language" : {
												"url" : "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Czech.json"
											}
										});
					});
</script>
</head>
<body>

	<th:block th:include="layout/page :: nav"></th:block>
	<div class="container" style="padding-top: 80px">
		<div th:if="${success}" class="alert alert-success">Success!!</div>
		<form class="form-horizontal validator col-lg-4"
			th:action="@{/categories}" th:object="${category}" method="post">

			<!-- hidden input for id -->
			<input type="hidden" class="form-control" th:field="*{id}" />

			<!-- kategorie název -->
			<div class="form-group">
				<label for="category.name" class="col-sm-3 control-label">Název</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" id="category.name"
						th:field="*{name}" placeholder="Název" /> <span class="has-error"
						th:if="${#fields.hasErrors('name')}" th:errors="*{name}">chyba</span>
				</div>
			</div>

			<!-- submit button -->
			<div class="form-group">
				<div class="col-sm-offset-5 col-sm-10">
					<input type="submit" class="btn btn-primary col-lg-6"
						value="Odeslat" />
				</div>
			</div>

		</form>
		<div class="col-lg-7">
			<table id="items">
				<thead>
					<tr>
						<th>Název</th>
						<th>akce</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="category : ${categories}">
						<td th:text="${category.name}">kategorie</td>
						<td><a class="btn btn-danger" onclick="deleteItem(this);"
							th:id="${category.id}"> <i class="fa fa-trash-o red"></i>
						</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<script type="text/javascript">
			$(document).ready(

					function() {

						$.datepicker.regional['cs'] = {
							closeText : 'Cerrar',
							prevText : 'Předchozí',
							nextText : 'Další',
							currentText : 'Hoy',
							monthNames : [ 'Leden', 'Únor', 'Březen', 'Duben',
									'Květen', 'Červen', 'Červenec', 'Srpen',
									'Září', 'Říjen', 'Listopad', 'Prosinec' ],
							monthNamesShort : [ 'Le', 'Ún', 'Bř', 'Du', 'Kv',
									'Čn', 'Čc', 'Sr', 'Zá', 'Ří', 'Li', 'Pr' ],
							dayNames : [ 'Neděle', 'Pondělí', 'Úterý',
									'Středa', 'Čtvrtek', 'Pátek', 'Sobota' ],
							dayNamesShort : [ 'Ne', 'Po', 'Út', 'St', 'Čt',
									'Pá', 'So', ],
							dayNamesMin : [ 'Ne', 'Po', 'Út', 'St', 'Čt', 'Pá',
									'So' ],
							weekHeader : 'Sm',
							dateFormat : 'dd.mm.yy',
							firstDay : 1,
							isRTL : false,
							showMonthAfterYear : false,
							yearSuffix : ''
						};

						$.datepicker.setDefaults($.datepicker.regional['cs']);

						$("#date").datepicker({
							dateFormat : "dd. mm. yy"
						});

						$(".validator").validate(
								{
									rules : {
										name : {
											required : true,
										}
									},
									messages : {
										name : "Název musí být vyplněn"
									},
									highlight : function(element) {
										$(element).closest('.form-group')
												.removeClass('has-success')
												.addClass('has-error');
									},
									unhighlight : function(element) {
										$(element).closest('.form-group')
												.removeClass('has-error')
												.addClass('has-success');
									}
								});
					});

			function deleteItem(obj) {
				BootstrapDialog
						.confirm(
								'Opravdu chceš položku smazat?',
								function(result) {
									if (result) {
										var itemId = $(obj).attr("id");
										console.log("itemId = " + itemId);
										$
												.post(
														"/categories/delete",
														{
															"id" : itemId
														},
														function(data) {
															// 									table.row($(obj).parent().parent())
															// 											.remove().draw();
															location
																	.reload(true);
															$
																	.bootstrapGrowl(
																			"Položka byla smazaná!!",
																			{
																				type : 'success'
																			})

														})
												.fail(
														function() {
															$
																	.bootstrapGrowl(
																			"Položku se nepodařilo smazat!!",
																			{
																				type : 'danger'
																			})
														});
									}
								});
			}
		</script>


	</div>
</body>
</html>